/*********** define colours ***********/ 

:root
{
    --light-grey: rgba(255, 255, 255, 0.322);
    --dark-grey: rgb(37,37,37);
    --dark-0: black;
    --dark-1: #2E3440;
    --white: white;

    --red-1: #D93441 ;
    --red-2: #DBB2B2;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


html{
    font-size: 1.2rem;
}

body{
    background-color: var( --dark-grey );
}

header{
    display: grid;
    background-color: var( --white );
}

nav{
    grid-template-columns: 1fr 1fr;
    background-color: var( --light-grey );
    padding:  0.5rem 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
}

.logo-img{
    justify-self: stretch;
}

.homepage{
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--dark-0);
}


/*------------Banner section---------*/

.banner {
    background-color: var(--dark-1);
}
  
.banner__content {
    padding: 0.8rem;
    max-width: 86vw;
    font-size: 0.9rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: var(--dark-1);
}
  
.banner__text {
    flex-grow: 1;
    line-height: 1.4;
}
  
.banner__close {
    background: none;
    border: none;
    cursor: pointer;
}
  
.banner__text, .banner__close > span {
    color: var(--white);
}

/*---------- main page section--------- */
section{
    min-height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var( --dark-grey );
    flex-direction: column;
    padding: 50px 0;
}

section > h1{
    color: var( --light-grey );
    text-align: center;
    width: 100%;
    font-size: 2rem;
    margin-bottom: 0.2rem;
}

section p {
    text-align: center;
    color: var( --light-grey );
    width: 100%;
    margin-bottom: 1rem;
}

.text-container{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 22rem;
    border-color: var( --dark-grey );
    justify-content: center;
}

.texts p{
    color: var(--dark-0);
    text-align: left;
    background-color: var(--white);
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.texts > p.replay{
    text-align: right;
}

/* -------- clear button section ----------- */
button,
button::after {
  -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
  -o-transition: all 0.5s;
	transition: all 0.5s;
}

button {
    background: none;
    border: 2px solid var(--white);
    border-radius: 5px;
    color: var(--white);
    display: block;
    font-size: 0.6rem;
    font-weight: bold;
    margin: 1em auto;
    padding: 1em 2em;
    position: relative;
    text-transform: uppercase;
}

button::before, button::after {
  background: var(--red-1);
  content: '';
  position: absolute;
  z-index: 0;
}

button:hover {
  color: var(--red-1);
  z-index: 1;
}

.clear::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
}

.clear:hover:after {
    width: 100%;
}

/*-------------- footer section--------------- */

footer{
    padding: 1.2em;
    background-color: var(--dark-0);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-note {
    font-size: 0.7rem;
    text-align: center;
    color: var(--white);
    padding: 0.3rem 0.1rem;
}

.disclaimer{
    font-size: 0.5rem;
}
